.ef-personen .team-member {
  font-size: 13px;
  line-height: 1.4em;
  text-align: center;
}
.ef-personen .team-member h3.member {
  margin: 0;
}
.ef-personen .team-member a {
  text-decoration: none;
}
.ef-personen .team-member .pulse {
  overflow: visible;
  position: absolute;
  width: 1.4em;
  height: 1.4em;
}
.ef-personen .team-member .pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(238,112,0,0.7);
  border-radius: 50%;
  transition: opacity .3s, transform .3s;
  animation: pulse-animation 4s cubic-bezier(0.24,0,0.38,1) infinite;
}
.ef-personen .uk-subnav-pill > * > * {
  background-color: #eaeaea;
  padding: 5px 10px;
}
.ef-personen .uk-subnav-pill > .uk-active > * {
  background-color: #00a8e6;
}
@media (max-width: 767px) {
  .ef-personen.static-grid .uk-panel-box {
    padding: 10px;
  }
}
.ef-personen.dynamic-grid [id^=ef-personen-filter] li {
  padding-left: 5px;
}
.ef-personen.dynamic-grid [id^=ef-personen-filter].uk-active {
  background: rgba(0,14,26,0.9);
  padding: 10px 5px 20px;
  width: 100% !important;
  left: 0;
  box-sizing: border-box;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .ef-personen.dynamic-grid [id^=ef-personen-filter].uk-active li a {
    padding: 2px 4px;
  }
}
.ef-personen .ef-speaker-info {
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
.ef-personen .ef-speaker-info .ef-speaker-company-link img {
  max-width: 100%;
  max-height: 1.8em;
  width: auto;
  height: auto;
  display: block;
  margin: 5px auto;
}
.ef-personen .ef-speaker-position + .ef-speaker-company::before {
  content: ',\0020';
}
.ef-personen .ef-modal [class*=uk-animation] {
  animation-fill-mode: none;
}
.ef-personen .uk-modal .uk-modal-dialog {
  min-height: 50%;
  text-align: left;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.ef-personen .uk-modal .uk-modal-dialog .wp-post-image {
  max-width: 150px;
}
.ef-personen .uk-modal .uk-modal-dialog .wp-post-image + h3 {
  margin-top: 5px;
}
.ef-personen .uk-modal .uk-modal-dialog h3 {
  margin-bottom: 0;
  font-weight: 600;
}
.ef-personen .uk-modal .uk-modal-dialog .ef-speaker-info {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
.ef-personen .uk-modal .uk-modal-dialog .ef-speaker-info img {
  margin: 5px 0;
}
.ef-personen .ef-personen-full-width .team-member,
.ef-personen .ef-personen-full-width .ef-speaker-info {
  text-align: left;
}
@media (max-width: 767px) {
  .ef-personen .ef-speaker-info img {
    top: 175px;
  }
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  20%,
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
.single-team-member .ef-speaker-position,
.single-team-member .ef-speaker-company,
.post-type-archive-team-member .ef-speaker-position,
.post-type-archive-team-member .ef-speaker-company {
  display: block;
}
.single-team-member .ef-speaker-company,
.post-type-archive-team-member .ef-speaker-company {
  font-weight: 600;
}