.ef-personen {

	.team-member {
		font-size: 13px;
		line-height: 1.4em;
		text-align: center;

		h3.member {
			margin: 0;
		}
		a {
			text-decoration: none;
		}

		.pulse {
		    overflow: visible;
		    position: absolute;
		    width: 1.4em;
		    height: 1.4em;
		}
		.pulse::before {
		    content: '';
		    display: block;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    background-color: fade(#ee7000, 70%);
		    border-radius: 50%;
		    transition: opacity .3s, transform .3s;
		    animation: pulse-animation 4s cubic-bezier(0.24, 0, 0.38, 1) infinite;
		}

	}

	.uk-subnav-pill {
		> * > * {
			background-color: #eaeaea;
			padding: 5px 10px;
		}
		> .uk-active > * {
			background-color: #00a8e6;
		}
	}

	&.static-grid {
		.uk-panel-box {
			@media(max-width: @breakpoint-small-max){
				padding: 10px;
			}
		}
	}

	&.dynamic-grid {

		[id^=ef-personen-filter] {

			li {
				padding-left: 5px;
			}

			&.uk-active {
				background: fade(#000e1a, 90%);
				padding: 10px 5px 20px;
				width: 100% !important;
				left: 0;
				box-sizing: border-box;
				right: 0;
				margin: 0;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				@media(max-width: @breakpoint-small-max){
					li {
						a {
							padding: 2px 4px;
						}
					}
				}
			}
		}
	}

	.ef-speaker-info {
	    margin-top: 5px;
	    text-align: center;
	    font-weight: 600;
	    font-size: 14px;

	    .ef-speaker-company-link {
	    	img {
	    	    max-width: 100%;
	    	    max-height: 1.8em;
	    	    width: auto;
	    	    height: auto;
	    	    display: block;
	    	    margin: 5px auto;
	    	}
	    }
	}
	.ef-speaker-position {
		+ .ef-speaker-company::before {
	    	content: ',\0020';
	    }
	}
	
	.ef-modal {
		[class*=uk-animation]{
			animation-fill-mode: none;
		}
	}

	.uk-modal {

		.uk-modal-dialog {
			min-height: 50%;
			text-align: left;
			background-size: cover;
			background-position: center;
			border-radius: 15px;

			.wp-post-image {
				max-width: 150px;

				+ h3 {
					margin-top: 5px;
				}
			}

			h3 {
				margin-bottom: 0;
				font-weight: 600;
			}

			.ef-speaker-info {
				text-align: left;
				font-size: 13px;
				font-weight: 400;
				margin: 0;

				img {
					margin: 5px 0;
				}
			}
		}
	}

	.ef-personen-full-width {
		.team-member, .ef-speaker-info {
			text-align: left;
		}
	}

	@media(max-width: @breakpoint-small-max){

		.ef-speaker-info img {
			top: 175px;
		}
	}
}

@keyframes pulse-animation {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    20%, 100% {
        opacity: 0;
        transform: scale(2.5)
    }
}
.single-team-member, .post-type-archive-team-member {
	.ef-speaker-position, .ef-speaker-company {
		display: block;
	}
	.ef-speaker-company {
		font-weight: 600;
	}
}